:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  min-height: 100vh; //100px - height of heading
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--body-gradient);
}

body {
  // used colors as css variables
  --bg-color: #fff;
  --sub-color: #ddd;
  --body-gradient: linear-gradient(45deg, rgba(2,132,199,1) 50%, rgba(0,212,255,1) 100%);
  --active-color:hsl(200, 98%, 39%);
  --inactive-color:hsl(200, 2%, 79%);

}